.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio__item-image img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

/* MEDIA QUERIES MEDIUM */
@media only screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
  .portfolio__item-image img {
    height: 25rem;
  }
}

/* MEDIA QUERIES SMALL */
@media only screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
